.heroContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	height: 70vh;
}

.imageOverlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.heroImageContainer {
	position: relative;
	overflow: hidden;
	width: 40vw;
	max-width: 40vw;
	height: min(500px, 50vh);
	// top: 30px;
	// right: 30px;
	border-radius: 20px;
	// max-width: 40vw;
}
.heroImage {
	z-index: -1;
}
