.introContainer {
	width: 50vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.introText {
	opacity: 0;
}

.underlineContainer {
	position: absolute;
	transform: translateY(-10px);
	transition: opacity 0.3s ease-in-out;
}

.underlineContainerHide {
	opacity: 0;
}

.underlineContainerShow {
	opacity: 1;
}
