.panelContainer {
	padding: 0.5rem;
	border-radius: 8px;
	margin: 0.75rem;
	transition: box-shadow 0.3s ease-in-out;
	cursor: default;
}

.panelBoxShadow_primary {
	box-shadow: 2px 2px 10px #00e5ff88, -2px -2px 10px #6effff88;
}

.panelBoxShadow_secondary {
	box-shadow: 2px 2px 10px #e040fb88, -2px -2px 10px #ff79ff88;
}
